body {
    width: 100%;
    height: 100%;
}

.fullscreen {
    padding-top: 56px;
    width: 100%;
    height: 100vh;
}

.recipe {
    min-height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.dark-overlay {
    background-color: rgba(0,0,0,0.4)
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.square {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    transition: all 0.25s;
}

.content::before {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0; 
    left:0;
    border-radius: 1rem;
    background:rgba(0,0,0,0);
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    
}

.content:hover::before {
    background: rgba(0,0,0,0.4); 
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
}

.content p {
    font-size: 2rem;
    font-family: 'Caveat Brush', cursive;
}

.square:hover {
    transform: scale(1.025);
}

#preloader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #ECF0F1;
    display: none;
}

.load {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    /* display: none; */
}

.load i {
    border: 0;
    margin: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 50%;
    animation: spin 2s ease infinite;
}

.load :first-child {
    background: #19A68C;
    animation-delay: -1.5s;
}

.load :nth-child(2) {
    background: #F63D3A;
    animation-delay: -1s;
}

.load :nth-child(3) {
    background: #FDA543;
    animation-delay: -0.5s;
}

.load :nth-child(4) {
    background: #193B48;
}

#preloader .h2 {
    font-weight: bold;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0%, 100% {
        transform: translate(0)
    }
    25% {
        transform: translate(160%)
    }
    50% {
        transform: translate(160%, 160%)
    }
    75% {
        transform: translate(0, 160%)
    }
}